body {
  font-family: sans-serif;
  margin: 0;
  padding: 0 4vw;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.header__img {
  width: 200px;
}

.header__menu-btn {
  display: none;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.header__nav-item {
  font-size: 1.2rem;
}

.header__nav-link {
  color: gray;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.header__nav-link:hover {
  background-color: #ff8500;
  color: #fff;
  padding: 5px;
}

@media (max-width: 768px) {
  .header__menu-btn {
    display: block;
    background-color: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #ff8500;
    border-radius: 8px;
  }

  .header__nav-list {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
  }

  .header__nav-list li {
    text-align: center;
    margin: 5px 0 10px 0;
    padding: 0 20px 0 0;
  }

  .header__nav-list.active {
    width: 40%;
    height: 100%;
    display: block;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: white;
    z-index: 100;
    box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    opacity: 1;
  }
}
