body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #fff;
  text-align: center;
  padding: 1.6vh 4vw;
}

.header__img {
  width: 200px;
}

.header__menu-btn {
  display: none;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.header__nav-item {
  font-size: 1.2rem;
}

.header__nav-link {
  color: gray;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.header__nav-link:hover {
  background-color: #ff8500;
  color: #fff;
  padding: 5px;
}

/* Banner */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f5f5f5;
  padding: 0 4vw;
}

.banner__container {
  width: 100%;
  gap: 2rem;
}

.banner__container-title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner__container-subtitle {
  font-size: large;
  font-weight: 100;
  margin-bottom: 1rem;
}

.banner__container-subtitle:nth-child(2) {
  font-weight: bold;
}

.banner__container-button {
  padding: 10px 20px;
  background-color: #ff8500;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.banner__container-button:hover {
  background-color: #ff6f00;
}

.banner__image {
  width: 45vw;
}

/* Slider */

.slider {
  background-color: #f5f5f5;
  overflow: hidden;
}

.slider__image {
  width: 101vw;
  height: 5vh;
  margin: 0 0 0 -1px;
}

.slider__image-inverted {
  width: 101vw;
  height: 5vh;
  margin: -1px 0 0 -1px;
  rotate: 180deg;
}

.slider__content {
  width: 200vw;
  display: flex;
  justify-content: center;
  animation: scrollInfinito 30s linear infinite;
  gap: 15rem;
  background-color: #282b2e;
  margin: -10px 0 0 0;
}

.slider__content-img {
  width: 200px;
  margin: 0 20px 0 0;
}

@keyframes scrollInfinito {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Mobile */

@media (max-width: 768px) {
  /* Header */

  .header__menu-btn {
    display: block;
    background-color: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #ff8500;
    border-radius: 8px;
  }

  .header__nav-list {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
  }

  .header__nav-list li {
    text-align: center;
    margin: 5px 0 10px 0;
    padding: 0 20px 0 0;
  }

  .header__nav-list.active {
    width: 40%;
    height: 100%;
    display: block;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: white;
    z-index: 100;
    box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    opacity: 1;
  }

  /* Banner */

  .banner {
    height: 80vh;
    flex-direction: column;
    padding: 0 4vw;
  }

  .banner__container {
    text-align: left;
    width: 70%;
    margin: 0;
  }

  .banner__image {
    width: 54vw;
  }

  /* Slider */

  .slider__content{
    animation: scrollInfinitoMobile 30s linear infinite;
    gap: 1rem;
  }

  .slider__content-img {
    width: 150px;
    margin: 0 10px 0 0;
  }

  @keyframes scrollInfinitoMobile {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
