body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #fff;
  text-align: center;
  padding: 1.6vh 4vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 16px rgba(40, 43, 46, 0.17);
  backdrop-filter: blur(4px);
}

.header,
.header * {
  box-sizing: border-box;
}

.header__img {
  width: 15vw;
  max-width: 200px;
}

.header__menu-btn {
  display: none;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.header__nav-item {
  font-size: 1.2rem;
}

.header__nav-item:nth-child(4) {
  border-bottom: 1px solid #ff8500;
}

.header__nav-link {
  color: gray;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.header__nav-link:hover {
  background-color: #ff8500;
  color: #fff;
  padding: 5px;
}

/* Banner */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
  background-color: #f5f5f5;
  padding: 0 4vw;
  margin: 70px 0 0 0;
}

.banner__container {
  width: 100%;
  gap: 2rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.banner .banner__image {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.3s forwards;
}

.banner__container-title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner__container-subtitle {
  width: 60vw;
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 1rem;
}

.banner__container-subtitle:nth-child(2) {
  font-weight: bold;
}

.banner__container-button {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8500;
  color: #fff;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.banner__container-button:hover {
  background-color: #ff6f00;
  transform: scale(1.05);
}

.banner__image {
  width: 25vw;
}

/* Slider */

.slider {
  background-color: #f5f5f5;
  overflow: hidden;
}

.slider__image {
  width: 101vw;
  height: 5vh;
  margin: 0 0 0 -1px;
}

.slider__image-inverted {
  width: 101vw;
  height: 5vh;
  margin: -1px 0 0 -1px;
  rotate: 180deg;
}

.slider__content {
  width: 200vw;
  display: flex;
  justify-content: center;
  animation: scrollInfinito 30s linear infinite;
  gap: 15rem;
  background-color: #282b2e;
  margin: -10px 0 0 0;
}

.slider__content-img {
  width: 200px;
  margin: 0 20px 0 0;
}

/* Advantage */

.advantage {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #282b2e;
  padding: 4vh 8vw;
}

.advantage__title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 4rem;
  text-align: center;
}

.advantage__video {
  width: 35vw;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 16px rgba(40, 43, 46, 0.17);
  backdrop-filter: blur(4px);
}

.advantage__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.advantage__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.advantage__content-card {
  width: 35vw;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 16px rgba(40, 43, 46, 0.17);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 1vh 3vw;
}

.advantage__content-card-img {
  width: 60px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282b2e;
  color: #fff;
  padding: 4vh 4vw;
}

.footer__presentation-logo {
  width: 200px;
}

.footer__presentation p {
  font-size: medium;
  padding: 0 0 0 0.5rem;
}

.footer__presentation-media {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.footer__presentation-media-social-img {
  height: 30px;
  width: 30px;
}

.footer__presentation-media-social:hover
  .footer__presentation-media-social-img {
  filter: drop-shadow(0 0 5px #ff8500);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.footer__contact-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.footer__contact-item img {
  height: 30px;
  width: 30px;
  filter: drop-shadow(0 0 5px #ff8500);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scrollInfinito {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Mobile */

@media (max-width: 768px) {
  /* Header */

  .header__img {
    width: 35vw;
  }

  .header__menu-btn {
    display: block;
    background-color: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #ff8500;
    border-radius: 8px;
  }

  .header__nav-list {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
  }

  .header__nav-list li {
    text-align: center;
    margin: 5px 0 10px 0;
    padding: 0 20px 0 0;
  }

  .header__nav-list.active {
    width: 50%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 58px;
    right: 0;
    background-color: white;
    z-index: 100;
    box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    opacity: 1;
  }

  /* Banner */

  .banner {
    flex-direction: column;
    padding: 0;
  }

  .banner__container {
    text-align: left;
    width: 85vw;
    margin: 0;
  }

  .banner__container-title {
    font-size: xx-large;
  }

  .banner__container-subtitle {
    width: 80vw;
    font-size: large;
  }

  .banner__container-button {
    width: 160px;
    font-size: small;
    gap: 5px;
    padding: 0 10px;
  }

  .banner__container-button img {
    width: 20px;
  }

  .banner__image {
    width: 54vw;
  }

  /* Slider */

  .slider__content {
    animation: scrollInfinitoMobile 30s linear infinite;
    gap: 1rem;
  }

  .slider__content-img {
    width: 150px;
    margin: 0 10px 0 0;
  }

  /* Advantage */

  .advantage {
    height: auto;
  }

  .advantage__container {
    flex-direction: column;
  }

  .advantage__video {
    width: 80vw;
  }

  .advantage__content-card {
    width: 80vw;
  }

  /* Footer */

  .footer {
    flex-direction: column;
  }

  .footer__presentation,
  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @keyframes scrollInfinitoMobile {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
