<div class="advantage" id="advantage">
  <h2 class="advantage__title">¿Por qué ser un Partner Q10?</h2>
  <div class="advantage__container">
    <video
      class="advantage__video"
      src="/assets/video/q10_video.mp4"
      poster="/assets/img/poster_video.png"
      preload="auto"
      loop
      muted
      autoplay></video>
    <div class="advantage__content">
      <div class="advantage__content-card">
        <img
          class="advantage__content-card-img"
          src="/assets/icons/trending.svg"
          alt="" />
        <div class="advantage__content-card-content">
          <h3 class="advantage__content-card-content-title">
            Crecimiento económico
          </h3>
          <p class="advantage__content-card-content-text">
            Mejora tus ingresos y beneficios al aumentar tu alcance en nuevos
            mercados.
          </p>
        </div>
      </div>

      <div class="advantage__content-card">
        <img
          class="advantage__content-card-img"
          src="/assets/icons/groups.svg"
          alt="" />
        <div class="advantage__content-card-content">
          <h3 class="advantage__content-card-content-title">
            Red de contactos
          </h3>
          <p class="advantage__content-card-content-text">
            Crece tu comunidad profesional ofreciéndole a tus clientes
            soluciones líderes en gestión educativa.
          </p>
        </div>
      </div>

      <div class="advantage__content-card">
        <img
          class="advantage__content-card-img"
          src="/assets/icons/mundo.svg"
          alt="" />
        <div class="advantage__content-card-content">
          <h3 class="advantage__content-card-content-title">
            Respaldo internacional
          </h3>
          <p class="advantage__content-card-content-text">
            Obtén el respaldo de una empresa de talla internacional que impulsa
            tu crecimiento con herramientas y recursos de primera.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
