<div class="banner">
  <div class="banner__container">
    <h1 class="banner__container-title">Programa Patners Q10</h1>
    <h2 class="banner__container-subtitle">
      Lidera el cambio en la educación y aumenta tus ingresos.
    </h2>
    <h2 class="banner__container-subtitle">
      Obten excelentes oportunidades de comisionar vendiendo el software
      educativo líder en Latinoamérica
    </h2>
    <button class="banner__container-button">Quiero ser patner</button>
  </div>
  <img
    class="banner__image"
    src="/assets/img/elemento_8.webp"
    alt="Imagen de banner" />
</div>
