<div class="footer">
  <div class="footer__presentation">
    <img
      class="footer__presentation-logo"
      src="/assets/img/logo_blanco.png"
      alt="Logo de Jonathan Vera en blanco" />
    <p>Prueba técnica elaborada para Q10 por Jonathan Vera.</p>
    <div class="footer__presentation-media">
      <a
        class="footer__presentation-media-social"
        href="https://github.com/jonathanvrag"
        target="_blank">
        <img
          class="footer__presentation-media-social-img"
          src="/assets/icons/github_logo.svg"
          alt="Logo de Github" />
      </a>
      <a
        class="footer__presentation-media-social"
        href="https://www.linkedin.com/in/jonathan-vera-gomez/"
        target="_blank">
        <img
          class="footer__presentation-media-social-img"
          src="/assets/icons/linkedin_logo.svg"
          alt="Logo de Linkedin" />
      </a>
      <a
        class="footer__presentation-media-social"
        href="https://jonathanvera.dev"
        target="_blank">
        <img
          class="footer__presentation-media-social-img"
          src="/assets/icons/jv_logo.svg"
          alt="Logo del portafolio de Jonathan Vera" />
      </a>
    </div>
  </div>
  <div class="footer__contact">
    <h2 class="footer__contact-title">Contacto</h2>
    <div class="footer__contact-item">
      <img src="/assets/icons/email_icon.svg" alt="Logo de email" />
      <p>jonathan.vra@gmail.com</p>
    </div>
    <div class="footer__contact-item">
      <img src="/assets/icons/phone_icon.svg" alt="Logo de teléfono" />
      <p>+57 310 285 4064</p>
    </div>
    <div class="footer__contact-item">
      <img src="/assets/icons/location_icon.svg" alt="Logo de ubicación" />
      <p>Medellín, Colombia</p>
    </div>
  </div>
</div>
