<header class="header">
  <a href="/">
    <img
      class="header__img"
      src="/assets/img/logo_gris.png"
      alt="logo de Q10" />
  </a>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">PLANES</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">EMPRESA</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">RECURSOS</a>
      </li>
      <li class="header__nav-item">
        <a href="#" class="header__nav-link">PARTNERS</a>
      </li>
    </ul>
  </nav>
  <button class="header__menu-btn" id="menu-btn" aria-label="Abrir menú">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16">
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
  </button>
</header>
