<div class="slider">
  <img
    class="slider__image"
    src="/assets/img/elemento_2.webp"
    alt="Imagen de banner" />
  <div class="slider__content">
    <img class="slider__content-img" src="/assets/img/usuarios.svg" alt="+3 Millones de usuarios activos" />
    <img class="slider__content-img" src="/assets/img/paises.svg" alt="Clientes en 19 países" />
    <img class="slider__content-img" src="/assets/img/clientes.svg" alt="+3000 clientes satisfechos" />
    <img class="slider__content-img" src="/assets/img/lider.svg" alt="Software líder en Latinoamérica" />
  </div>
  <img
    class="slider__image-inverted"
    src="/assets/img/elemento_2.webp"
    alt="Imagen de banner" />
</div>
